[submodule ".registry"]
	path = .registry
	url = https://github.com/ggsegverse/ggsegverse.r-universe.dev
	branch = HEAD
[submodule "freesurfer"]
	path = freesurfer
	url = https://github.com/drmowinckels/freesurfer
	branch = refactor
[submodule "ggseg"]
	path = ggseg
	url = https://github.com/ggseg/ggseg
[submodule "ggseg.extra"]
	path = ggseg.extra
	url = https://github.com/ggseg/ggseg.extra
[submodule "ggseg.formats"]
	path = ggseg.formats
	url = https://github.com/ggseg/ggseg.formats
[submodule "ggseg.hub"]
	path = ggseg.hub
	url = https://github.com/ggseg/ggseg.hub
[submodule "ggseg3d"]
	path = ggseg3d
	url = https://github.com/ggseg/ggseg3d
[submodule "ggsegAal"]
	path = ggsegAal
	url = https://github.com/ggseg/ggsegAal
[submodule "ggsegAicha"]
	path = ggsegAicha
	url = https://github.com/ggseg/ggsegAicha
[submodule "ggsegArslan"]
	path = ggsegArslan
	url = https://github.com/ggseg/ggsegArslan
[submodule "ggsegBrainnetome"]
	path = ggsegBrainnetome
	url = https://github.com/ggseg/ggsegBrainnetome
[submodule "ggsegBrodmann"]
	path = ggsegBrodmann
	url = https://github.com/ggseg/ggsegBrodmann
[submodule "ggsegCampbell"]
	path = ggsegCampbell
	url = https://github.com/ggseg/ggsegCampbell
[submodule "ggsegChen"]
	path = ggsegChen
	url = https://github.com/ggseg/ggsegChen
[submodule "ggsegDKT"]
	path = ggsegDKT
	url = https://github.com/ggseg/ggsegDKT
[submodule "ggsegDesterieux"]
	path = ggsegDesterieux
	url = https://github.com/ggseg/ggsegDesterieux
[submodule "ggsegEconomo"]
	path = ggsegEconomo
	url = https://github.com/ggseg/ggsegEconomo
[submodule "ggsegFlechsig"]
	path = ggsegFlechsig
	url = https://github.com/ggseg/ggsegFlechsig
[submodule "ggsegGlasser"]
	path = ggsegGlasser
	url = https://github.com/ggseg/ggsegGlasser
[submodule "ggsegGordon"]
	path = ggsegGordon
	url = https://github.com/ggseg/ggsegGordon
[submodule "ggsegHO"]
	path = ggsegHO
	url = https://github.com/ggseg/ggsegHO
[submodule "ggsegICBM"]
	path = ggsegICBM
	url = https://github.com/ggseg/ggsegICBM
[submodule "ggsegIca"]
	path = ggsegIca
	url = https://github.com/ggseg/ggsegIca
[submodule "ggsegJHU"]
	path = ggsegJHU
	url = https://github.com/ggseg/ggsegJHU
[submodule "ggsegKleist"]
	path = ggsegKleist
	url = https://github.com/ggseg/ggsegKleist
[submodule "ggsegPower"]
	path = ggsegPower
	url = https://github.com/ggseg/ggsegPower
[submodule "ggsegSchaefer"]
	path = ggsegSchaefer
	url = https://github.com/ggseg/ggsegSchaefer
[submodule "ggsegTracula"]
	path = ggsegTracula
	url = https://github.com/ggseg/ggsegTracula
[submodule "ggsegYeo2011"]
	path = ggsegYeo2011
	url = https://github.com/ggseg/ggsegYeo2011
[submodule "neuromapr"]
	path = neuromapr
	url = https://github.com/lcbc-uio/neuromapr
[submodule "wbcmd"]
	path = wbcmd
	url = https://github.com/lcbc-uio/wbcmd
