[submodule ".registry"]
	path = .registry
	url = https://github.com/ggsegverse/ggsegverse.r-universe.dev
	branch = HEAD
[submodule "freesurfer"]
	path = freesurfer
	url = https://github.com/drmowinckels/freesurfer
	branch = refactor
[submodule "ggseg"]
	path = ggseg
	url = https://github.com/ggsegverse/ggseg
[submodule "ggseg.extra"]
	path = ggseg.extra
	url = https://github.com/ggsegverse/ggseg.extra
[submodule "ggseg.formats"]
	path = ggseg.formats
	url = https://github.com/ggsegverse/ggseg.formats
[submodule "ggseg3d"]
	path = ggseg3d
	url = https://github.com/ggsegverse/ggseg3d
[submodule "ggsegAAL"]
	path = ggsegAAL
	url = https://github.com/ggsegverse/ggsegAal
[submodule "ggsegAicha"]
	path = ggsegAicha
	url = https://github.com/ggsegverse/ggsegAicha
[submodule "ggsegArslan"]
	path = ggsegArslan
	url = https://github.com/ggsegverse/ggsegArslan
[submodule "ggsegBrainnetome"]
	path = ggsegBrainnetome
	url = https://github.com/ggsegverse/ggsegBrainnetome
[submodule "ggsegCerebellum"]
	path = ggsegCerebellum
	url = https://github.com/ggsegverse/ggsegCerebellum
[submodule "ggsegChen"]
	path = ggsegChen
	url = https://github.com/ggsegverse/ggsegChen
[submodule "ggsegFreeSurfer"]
	path = ggsegFreeSurfer
	url = https://github.com/ggsegverse/ggsegFreeSurfer
[submodule "ggsegGlasser"]
	path = ggsegGlasser
	url = https://github.com/ggsegverse/ggsegGlasser
[submodule "ggsegGordon"]
	path = ggsegGordon
	url = https://github.com/ggsegverse/ggsegGordon
[submodule "ggsegHO"]
	path = ggsegHO
	url = https://github.com/ggsegverse/ggsegHO
[submodule "ggsegHistorical"]
	path = ggsegHistorical
	url = https://github.com/ggsegverse/ggsegHistorical
[submodule "ggsegIca"]
	path = ggsegIca
	url = https://github.com/ggsegverse/ggsegIca
[submodule "ggsegJHU"]
	path = ggsegJHU
	url = https://github.com/ggsegverse/ggsegJHU
[submodule "ggsegPower"]
	path = ggsegPower
	url = https://github.com/ggsegverse/ggsegPower
[submodule "ggsegSUIT"]
	path = ggsegSUIT
	url = https://github.com/ggsegverse/ggsegSUIT
[submodule "ggsegSchaefer"]
	path = ggsegSchaefer
	url = https://github.com/ggsegverse/ggsegSchaefer
[submodule "ggsegTracula"]
	path = ggsegTracula
	url = https://github.com/ggsegverse/ggsegTracula
[submodule "ggsegYeo2011"]
	path = ggsegYeo2011
	url = https://github.com/ggsegverse/ggsegYeo2011
[submodule "neuromapr"]
	path = neuromapr
	url = https://github.com/lcbc-uio/neuromapr
[submodule "wbcmd"]
	path = wbcmd
	url = https://github.com/lcbc-uio/wbcmd
